.flexColumn {
  display: flex;
  flex-direction: column;
}

fieldset {
  margin: 5px;
}

.form--containerTop {
  display: flex;
  justify-content: space-between;
}

.form__concepts {
  flex: 3;
}

.form__journalDate {
  flex: 1;
}

.form__mood {
  flex: 1;
}